<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Mahmoud Elsharawy</h1>
      <h2 class="project-tagline"></h2>
      
      <a href="https://mse63.github.io/Mahmoud_Elsharawy_Resume.pdf" target="_blank" class="btn">View Resume</a>
      {% for page in site.pages %}
        <a href= {{ page.filename }} class="btn">{{ page.title }}</a>
      {% endfor %}
    </section>

    <section class="main-content">
      
      {{ content }}
      
    </section>
  </body>
</html>
